<!-- HTML Code for Thread List -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="forum.css" />
    <meta charset="UTF-8">
    <title>The Forum!!</title>
</head>
<body>
    <!-- Site Topbar -->
    <div class="topbar">
        <h1>Fire Ferrets</h1>
    </div>

    <div id="app" class="main">

        <input id="newTitle" type="text" v-model="newTitle" placeholder="Thread Title" />
        <textarea id="newContent" v-model="newContent" placeholder="Type your new Thread here"></textarea>
        <button @click="addThread">Add Thread</button>

        <!-- Unordered List displays each Thread -->
        <ul>
            <li v-for="thread in threads">
                <a :href="'thread.html?id=' + thread.id">
                    <h4 class="title"> {{ thread.title }} </h4>
                    <div class="bottom">
                        <p class="author"> Posted by {{ thread.author }} </p>
                        <p class="timestamp"> On {{ new Date(thread.timestamp).toLocaleString() }} </p>
                        <p class="comment_count"> Comments: {{ thread.comments.length }} </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="forum.js"></script>
</body>
</html>
