/* CSS Code for forum.html */

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;

}

body {
    margin: 10px 60px;
}

a {
    text-decoration: none;
    color: black;
}

h1, h4, ul {
    margin: 0;
}

p {
    margin: 5px 0;
}

li {
    padding: 5px 0;
}

input {
    display: block;
    margin: 10px 0;
}

textarea {
    width: 80%;
    height: 80px;
}

button {
    display: block;
    margin: 10px 0;
}

.topbar {
    background-color: skyblue;
    padding: 0 40px;
}

.main {
    background-color: #F6F6EF;
    padding: 10px 15px;
}

.bottom {
    display: block;
    color: grey;
    font-size: 12px;
}

.timestamp {
    padding-right: 10px;
}